body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 100px 0;
}

h3 {
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    font-style: italic;
    font-size: 33px;
    font-weight: normal;
    margin-bottom: 20px;
}

h4 {
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 20px;
}

h5 {
    font-size: 25px;
}

.scrollToTop {
    background-color: #da1757;
    border-radius: 4px;
    bottom: 60px;
    color: #fff;
    cursor: pointer;
    display: none;
    height: 45px;
    position: fixed;
    right: 50px;
    transition: all .5s;
    width: 50px;
    z-index: 100;
    opacity: .85;
}

.scrollToTop:hover {
    background-color: #fff;
    border: 1px solid #da1757;
    color: #da1757;
    outline: none;
    text-decoration: none;
}

.btn {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-violet {
    background: #763390;
    opacity: 0.9;
    transition: all .7s;
}

.btn-violet:hover {
    background-color: #f42267;
    color: #fff;
}

.btn-pink {
    background: #f42267;
    width: 146px;
    height: 47px;
    font-weight: 700;
}

.btn-shadow {
    box-shadow: 0 10px 0 #d96690;
    border-radius: 10px;
    transition: all .5s;
}

.btn-shadow:hover {
    box-shadow: 0 5px 0 #d96690;
    color: #fff;
    background-color: #da1757;
}


/* ========================== Header ============================*/
.main-header {
    background: url(../img/bg-header.jpg) center no-repeat;
    background-size: cover;
    min-height: 900px;
}

.main-header .container {
    position: relative;
    max-width: 1400px;
}

.main-header .navbar {
    padding: 1.5rem 2.5rem;
}

.main-header .navbar-toggler {
    color: #fff;
}

.main-header .navbar-brand,
.main-header ul li a {
    color: #fff;
    font-weight: 600;
}

.main-header .navbar-brand {
    font-size: 42px;
}

.main-header ul li a {
    font-size: 18px;
    transition: all 1s;
}

.main-header ul li a::after {
    content: ' ';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #fff;
    transform: scale(0);
    transition: all 1s;
}

.main-header ul li a:hover::after {
    transform: scale(1);
}

.main-header ul li a:hover {
    color: #f42267;
}

.main-header-text {
    position: absolute;
    left: 5%;
    max-width: 600px;
    padding: 20px;
}

.main-header-text h3 {
    font-size: 43px;
}

.main-header-text h4 {
    font-size: 64px;
}

.main-header-text p {
    max-width: 550px;
}

.main-header-button {
    padding-left: 30px;
    margin-top: 30px;
}

.main-header-button .btn {
    height: 60px;
    padding: 0 40px;
    margin-right: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
}

/* ========================= Main========================== */

/* Section-Watch */
.section-watch {
    background: url(../img/world-map.png) center no-repeat;
    color: #484848;
}

.section-watch .nav-pills {
    margin-bottom: 30px;
}

.section-tabs .nav-pills .nav-link {
    color: #484848;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 14px 30px;
}

.section-tabs .nav-pills .nav-item .nav-link.active {
    background: #f42267;
    color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
}

.section-watch .tab-pane {
    min-height: 180px;
}


/* Section-progress */
.section-progress {
    background-color: #4b2d7f;
    padding: 0;
}

.section-progress h5 {
    padding-bottom: 40px;
    height: 72px;
    overflow: hidden;
}

.section-progress h5 span {
    font-size: 30px;
    font-weight: 600;
}

.progress-item p {
    font-size: 15px;
}

.progress-item .num {
    font-size: 50px;
    font-weight: 600;
}

.section-progress i {
    transform: rotate(-45deg);
    font-size: 70px;
    margin-bottom: 30px;
}

.progress-item {
    padding: 100px 15px;
    transition: all .7;
}

.progress-item:hover {
    background-color: #40286a;
}

/*  Section-lets */
.section-lets {
    background: url(../img/bg-lets.jpg) center no-repeat;
    background-color: #4b2d7f;
    background-size: cover;
}

/* Section-design */
.section-design .container {
    color: #484848;
}

.section-design p {
    font-size: 18px;
    height: 150px;
}

.section-design span i {
    font-size: 70px;
    color: #ad116f;
    margin-bottom: 20px;
}

.section-design .fa-bullhorn {
    transform: rotate(-45deg);
}

/* Section-work */
.section-work {
    color: #333;
    background-color: #f1f1f1;
}

.gallery-item {
    padding-bottom: 30px;
}

.gallery-item img:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .7);
    transition: all .5s;
}

/* section-client */
.section-client {
    background-color: #4b2d7f;
}

.client-item {
    margin: 25px 0;
}

/* section-reviews */
.section-reviews {
    background: url(../img/bg-reviews.jpg) center no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 0;
}

.section-reviews .carousel-caption {
    top: 5%;
    bottom: auto;
    text-align: left;
}

.section-reviews .blockquote {
    font-style: italic;
    font-size: 22px;
    font-weight: 500;
    padding-left: 60px;
    position: relative;
    margin-top: 60px;
}

.section-reviews .blockquote::before {
    content: '\201C';
    font-size: 140px;
    font-weight: 600;
    font-style: italic;
    color: #f42267;
    position: absolute;
    top: -80px;
    left: -33px;
}

.section-reviews .blockquote::after {
    content: '\2605 \2605 \2605 \2605 \2605';
    font-size: 30px;
    font-weight: 500;
    color: #f42267;
    position: absolute;
    top: 170px;
    left: 60px;
    font-style: normal;
}

.section-reviews .blockquote-footer {
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    color: #fff;
}

.section-reviews p {
    padding-bottom: 120px;
}

/* Section-form */
.section-form {
    background: url(../img/bg-form.jpg) center no-repeat;
    background-size: cover;
}

.section-form h4 {
    padding-bottom: 10px;
}

.section-form h5 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-form form {
    margin-top: 50px;
}

.section-form .btn-violet {
    background-color: #4b2d7f;
}

.btn-violet .btn-shadow {
    box-shadow: 0 10px 0 #a57ee9;
}

.btn-violet.btn-shadow:hover {
    background: #3a2362;
}

.section-form .form-control {
    background-color: rgba(255, 255, 255, .35);
    border: 0;
    color: #fff;
    height: 57px;
    margin-bottom: 20px;
    padding: 0 40px;
}

.section-form .form-control::placeholder {
    color: #fff;
}

.section-form .form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

/* Section-social */
.section-social {
    background: #4b2d7f;
}

.section-social .list-group-item {
    color: #fff;
    background-color: #4b2d7f;
    font-size: 27px;
    font-weight: 500;
    text-decoration: none;
    transition: all .5s;
}

.section-social .list-group-item:hover {
    background-color: #40286a;
}

/* ========================= Main-footer ========================== */
.main-footer {
    background: url(../img/world-map.png) center no-repeat;
    background-size: cover;
}

.main-footer ul li {
    list-style: none;
    font-size: 15px;
    font-weight: 600;
}

.main-footer ul li a {
    text-decoration: none;
    color: #252525;
    transition: all .3s;
}

.main-footer ul li a:hover {
    color: #f42267;
}

.main-footer-top {
    padding: 100px 0 50px;
}

.main-footer-top h5 {
    color: #4b2d7f;
    font-weight: 600;
    padding-left: 25px;
}

.footer-imeges img {
    margin-bottom: 20px;
    border-radius: 15px;
}

.main-footer-copyright {
    background-color: #f6f6f6;
    color: #494949;
    padding: 40px 0;
    text-align: center;
}

.main-footer-copyright a,
.main-footer-copyright span {
    font-size: 18px;
    position: relative;
}

.main-footer-copyright li a::after,
.main-footer-copyright li span::after {
    content: '\00B7';
    position: absolute;
    right: -3px;
}

.main-footer-copyright li:last-child a::after,
.main-footer-copyright li:last-child span::after {
    content: ' ';
}

.main-footer-copyright a:hover {
    text-decoration: underline;
    transition: all 1s;
}

/* ========================= Main-blog========================== */

/* section-content */
.section-content {
    padding: 40px 0;
    color: #484848;
}

.article-preview {
    border: 1px solid #ccc;
    margin-bottom: 30px;
    padding: 20px;
    transition: all .5s;
}

.article-preview:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .7);
}

.article-preview h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.article-preview a {
    transition: all .5s;
    text-decoration: none;
    color: #484848;
}

.article-preview a:hover {
    color: #f42267;
}

.article-date {
    font-size: 13px;
    font-weight: 600;
    color: #da1757;
}

.thumb {
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 0 20px 20px 0;
    float: left;
}

.article-preview .more {
    color: #da1757;
}

.article-preview .more:hover {
    text-decoration: underline;
}

.widget-title {
    color: #484848;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
}

.widget-title::after {
    content: ' ';
    background-color: #da1757;
    height: 2px;
    position: absolute;
    left: 0;
    top: 30px;
    width: 40px;
}

.widget-categories ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.widget-categories ul li a {
    padding-left: 10px;
    font-size: 14px;
    color: #2f2f2f;
    margin-bottom: 10px;
    display: inline-block;
}

.widget-categories ul li::before {
    content: ' \f138';
    color: #da1757;
    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    font-weight: 900;
}

.widget-categories ul li a:hover {
    color: #da1757;
}

/* Pagination */
.pagination .page-link {
    color: #da1757;
    transition: all .5s;
    padding-left: 1em;
    padding-right: 1em;
}

.pagination .page-link:hover {
    background-color: #da1757;
    color: #fff;
    border-color: #f42267;
}

.pagination .page-item.active .page-link {
    background-color: #da1757;
    border-color: #da1757;
}

/* ========================= Media ========================== */
@media only screen and (max-width: 992px) {
    .main-header-text {
        background-color: rgba(0, 0, 0, .3);
    }

    .section-reviews h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .section-reviews h4 {
        font-size: 25px;
        padding-bottom: 0;
    }

    .section-reviews .blockquote {
        font-size: 17px;
        padding-left: 20px;
        margin-top: 30px;
    }

    .section-reviews .blockquote::before {
        font-size: 90px;
        top: -42px;
    }

    .section-reviews .blockquote::after {
        top: 75px;
        left: 40px;
        font-size: 25px;
    }

    .section-reviews p {
        padding-bottom: 40px;
        font-size: 14px;
    }

    .section-reviews .blockquote-footer {
        font-size: 18px;
    }

    .section-social .list-group-item {
        font-size: 20px;
    }

    .scrollToTop {
        bottom: 35px;
        right: 30px;
    }
}

@media only screen and (max-width: 991px) {
    .main-header .navbar-nav {
        background: linear-gradient(45deg, #ed1b33 0%, #442e82 100%);
        position: relative;
        z-index: 1;
        padding-right: 30px;
        align-items: center;
    }

    .blog-header .navbar-nav {
        align-items: center;
    }

    .section-design p {
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .main-header {
        background: url(../img/bg-header.jpg) left no-repeat;
    }

    .main-header-text {
        left: 0;
        margin: 0 20px;
        max-width: 100%;
    }

    .main-header-text {
        background-color: rgba(0, 0, 0, .5);
    }

    .progress-item {
        padding: 30px 15px;
    }

    .client-item img {
        height: 30px;
        width: auto;
        margin-bottom: 0;
    }

    section {
        padding: 40px 0;
    }

    .main-footer-top {
        padding: 40px 0 20px;
    }

    .main-footer-copyright {
        padding: 25px 0;
    }

    .section-reviews img {
        max-width: 200%;
    }

    .footer-imeges img {
        display: block;
        margin: 15px auto;
    }
}

@media only screen and (max-width: 600px) {
    .main-header h3 {
        font-size: 35px;
    }

    .main-header h4 {
        font-size: 50px;
    }

    .main-header-button {
        padding: 0 15px;
    }

    .main-header-button .btn {
        display: block;
        width: 100%;
    }

    .section-reviews .carousel-caption {
        border-radius: 10px;
        margin: auto;
        padding-bottom: 35px;
        padding-left: 30px;
        position: static;
        width: 70%;
    }

    .section-reviews .blockquote::after {
        display: none;
    }

    .section-reviews p {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 480px) {

    .main-header .navbar {
        padding: 1.5rem 1rem;
    }

    h3,
    .main-header h3 {
        font-size: 25px;
    }

    h4,
    .main-header h4 {
        font-size: 36px;
    }

    .main-header .navbar-brand {
        font-size: 30px;
    }

    .section-tabs .nav-pills .nav-link {
        padding: 8px 16px;
    }

    .section-tabs .nav-item {
        width: 100%;
    }

    .section-design .design-text {
        min-height: 220px;
    }

    .main-footer-top h5,
    .main-footer ul {
        padding-left: 10px;
    }

    .article-preview .thumb {
        float: none;
        width: 100%;
    }
}